#contactImg{
    margin-top: 20px;
    width: 600px;
    border-radius: 20px;
}

#division{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    padding-top: 100px;
    padding-bottom: 0px;
}

#foot{
    height: 590px;
}

#division1{
    width: 250px;
}

#division2{
    width: 250px;
}

#name1{
    width: 240px;
    color: white;
    background-color: brown;
    text-align: left;
    font-size: medium;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(245, 245, 103);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#name1:hover{
    border-color: yellow;
}

#email{
    width: 240px;
    color: white;
    background-color: brown;
    text-align: left;
    font-size: medium;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(245, 245, 103);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#email:hover{
    border-color: yellow;
}

#phone{
    width: 240px;
    color: white;
    background-color: brown;
    text-align: left;
    font-size: medium;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(245, 245, 103);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

#phone:hover{
    border-color: yellow;
}

@media (max-width: 575px){
    #division{
        display:block;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #foot{
        height: 100%;
    }
    #contactImg{
        padding-top: 0px;
        width: 100%;
    }
    #division1{
        display: none;
    }
    #division2{
        margin: 0% 20%;
    }
}